.requests {
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    border-radius: 20px;
    background-color: #333864a4;
    overflow: hidden;

    h1 {
        margin: 10px 50px 10px 50px;
        position: absolute;
        top: 10px;
    }

    ul {
        margin: 0 50px;
        margin-top: 60px;
        padding: 0;
        height: 200px;
        max-height: 300px;
        width: 400px;
        overflow-y: auto;

        li {
            display: flex;
            align-items: center;
            border-bottom: solid 1px white;
            height: 100px;
            padding: 0;
            p {
                margin: 5px 0;
            }

            .details {
                margin-right: 20px;
            }

            .actions {
                margin-left: 20px;
                width: 100px;
                p {
                    cursor: default;
                    padding: 5px;
                    width: fit-content;
                    margin: 0;
                    &:hover {
                        background-color: rgba(221, 221, 221, 0.3);
                        border-radius: 5px;
                    }
                }

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    filter: invert(63%) sepia(90%) saturate(3401%)
                        hue-rotate(82deg) brightness(116%) contrast(126%);
                }
            }
        }
    }
}
